/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* In your CSS file */
/* @import "~leaflet/dist/leaflet.css"; */
/* In your CSS file */
@import "./node_modules/leaflet/dist/leaflet.css";

/* root style  */

/* style  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

/* header  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0.2rem 1rem;
}
.logoBox a {
  display: flex;
  align-items: center;
}
.logo {
  height: 4rem;
}
.nav-items {
  display: flex;
  gap: 2rem;
}

/* body and cards part  */

.cardContainer {
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
  height: 75vh;
  margin: 1rem 0;
  /* background: red; */
  overflow-y: scroll;
}
.card {
  width: 18rem;
  border: 1px solid rgb(214, 211, 211);
  padding: 1rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.card img {
  width: 16rem;
  height: 10rem;
}
.card:hover img {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.card h2 {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
}
.card h3 {
  color: #686b78;
  font-weight: 500;
  font-size: 13px;
  margin-top: 4px;
}
.card p {
  margin-top: 18px;
  font-size: 12px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #535665;
}

.search-container {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin: 0 auto;
  width: max-content;
  padding: 0.5rem;
  width: 40%;
}
.search-container input:focus-visible {
  outline: none !important;
}

/* shimmer  */
.loadingImg {
  height: auto !important;
  width: auto !important;
}
